body {
    background-color: #F2F2F2;
    color: #211A1E;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #D92525;
    color: #F2F2F2;
    padding: 15px;
    text-align: center;
}
.container {
    padding: 20px;
}
.notification {
    background-color: #FADEAB;
    border-left: 10px solid #591C21;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}
.notification h2 {
    color: #591C21;
    margin-top: 0;
}
.notification p {
    color: #211A1E;
}
.footer {
    background-color: #211A1E;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
