
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body id="login">
    <div class="login-container">
        
        <form>
            <div class="input-group">
                <label for="username"><h3><strong>Usuario/Gmail</strong></h3></label>
                <input class="LetraColor" type="text" id="username" placeholder="">
            </div>
            <div class="input-group">
                <label for="password"><h3><strong>Contraseña</strong></h3></label>
                <input class="LetraColor" type="password" id="password" placeholder="">
            </div>
            <div class="input-group">
                <label for="password"><h3><strong>Confirmar Contraseña</strong></h3></label>
                <input class="LetraColor" type="password" id="password" placeholder="">
            </div>
            <button type="submit"><strong><h2>Enviar</h2></strong></button>
        </form>
    </div>
    
</body>
</html>
