<div class="login-container">
    <form>
        <div class="input-group">
            <label for="username"><h3><strong>Usuario/Gmail</strong></h3></label>
            <input class="LetraColor" type="text" id="username" placeholder="Escriba...">
        </div>
        <div class="input-group password-container">
            <label for="password"><h3><strong>Contraseña</strong></h3></label>
            <input class="LetraColor" type="password" id="password" placeholder="">
            <span class="show-password" onclick="togglePassword()">👁️</span>
        </div>
        <div class="input-group password-container">
            <label for="password"><h3><strong>Contraseña Check</strong></h3></label>
            <input class="LetraColor" type="password" id="passwordCheck" placeholder="">
            <span class="show-password" onclick="togglePassword()">👁️</span>
        </div>
        <button type="submit"><strong><h2>Enviar</h2></strong></button>
    </form>
</div>

    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password');
            const type = passwordField.type === 'password' ? 'text' : 'password';
            passwordField.type = type;
        }
    </script>