/*Aca comienza el Login*/

.LetraColor{
    color: #F2F2F2;
}

.register {
    background-color: #F2F2F2;
    font-family: Arial, sans-serif;
    color: #211A1E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.register-container {
    margin-left: 35%;
    margin-top: 3%;
    padding: 1%;
    border-radius: 10%;
    width: 25%;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
}

.input-group {
    margin-bottom: 3%;
}

.input-group label {
    display: block;
    margin-bottom: 3%;
    border-radius: 15%;
    text-align: center;
    font-weight: bold;
    color: #211A1E;
}


.input-group input {
    width: 100%;
    padding: 30px;
    background-color: #591C21;
    border-radius: 40px;
    box-sizing: border-box;
    
}


.input-group input::placeholder {
    color: #F2F2F2;
}


button {
    width: 35%;
    height: auto;
    padding: 0,5%;
    background-color: #328458;
    border-radius: 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    color: #F2F2F2;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    border: none;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}



@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.password-container {
    position: relative;
    width: 100%;
}
.password-container input {
    width: calc(); 
}
.show-password {
    position: absolute;
    right: 5%;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
}