    <section class="layout">
        <div class="colorhead">INFORMATIVA
            <a class="hipervinculo" href="calendario.html">  Calendario </a>
        </div>
    <div id="franjaroja">Informativa</div>

    <section class="bloque">
        <button>Notificarme</button>

        <h1 id="subtitulo"> Bautismo </h1>
        
        <p>Lorem ipsum odor amet, 
            consectetuer adipiscing
             elit. Adipiscing fusce
              ultrices luctus facilisis 
              tellus posuere ac magnis.</p>
        <img src="img/Bautismo RyN.jpg" alt="foto del bautismo">
       
        <h2>Lorem ipsum odor amet, 
        consectetuer adipiscing
         elit. Adipiscing fusce
          ultrices luctus facilisis 
          tellus posuere ac magnis.
        </h2>
        
        <br>
        <br>
        <br>
    
   
    </section>   
    
    <div class="botonesinf">
        <button class="botonizq">EVENTO <br> ANTERIOR</button>
        <button class="botonder">SIGUIENTE <br> EVENTO</button>
    </div>