<div class="register-container">
    <form action="GET">
        <div class="input-group">
            <label for="username">
                Usuario 
                <input type="text" id="username" autocomplete="name" placeholder="Tu usuario...">
            </label>
            <label for="email">
                Email 
                <input class="LetraColor" type="email" id="email" autocomplete="email" placeholder="example@escuelasproa.edu.ar">
            </label>
        </div>

        <div class="input-group password-container">
            <label for="password">
                Contraseña
                <input class="LetraColor" type="password" id="password" placeholder="Escribe...">
            </label>
            <span class="show-password" onclick="togglePassword('password')">👁️</span>

            <label for="passwordCheck">
                Confirmar Contraseña
                <input class="LetraColor" type="password" id="passwordCheck" placeholder="Escribe...">
            </label>
            <span class="show-password" onclick="togglePassword('passwordCheck')">👁️</span>
        </div>

        <button type="submit"> REGISTRARSE </button>
    </form>
</div>


<script>
    function togglePassword(id) {
        const passwordField = document.getElementById(togglePassword);
        if (passwordField) {
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
    }
</script>
