/* Contenedor del formulario */
.register-container {
    margin-left: 35%;
    margin-top: 3%;
    padding: 20px;
    width: 25%;
    color: rgb(139, 145, 145);
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; /* Agregar borde al contenedor si es necesario */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}


/* Grupo de entradas */
.input-group {
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc; /* Agregar bordes a los grupos */
}

/* Estilo de las etiquetas */
.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    color: #211A1E;
}

/* Estilo de los inputs */
.input-group input {
    width: 100%;
    padding: 15px;
    background-color: #591C21;
    color: #FFF;
    border: 1px solid #ccc; /* Asegurarse que los bordes sean visibles */
    border-radius: 10px;
    box-sizing: border-box;
    outline: none; /* Eliminar contorno al hacer clic */
}

/* Contenedor de la contraseña con el icono de mostrar/ocultar */
.password-container {
    position: relative;
}

/* Ajuste de la posición del icono de mostrar/ocultar contraseña */
.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #FFF; /* Asegurar que el icono sea visible */
}

/* Estilo del botón */
button {
    width: 100%;
    padding: 10px;
    background-color: #328458;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover para el botón */
button:hover {
    background-color: #286a46;
}

/* Ajuste del tamaño del h2 dentro del botón */
button h2 {
    margin: 0;
    font-size: 24px;
}

/* Fuente adicional */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
