body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.containerMarcador {
    text-align: center;
}
input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}