<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
</html>
<body>
    <header>

    </header>

    <main>

    </main>

    <footer>
        <div class="footer-section">
            <h4>Escuela experimental PRoA La Falda</h4>
            <p>Progreso 399, La Falda</p>
            <p>Còrdoba, Argentina</p>
        </div>

        <div class="footer-section">
            <br>
            <p>+54 9 3548 58-2040</p>
            <p>PRoALaFalda@gmail.com</p>
        </div>
        
        <div class="footer-section">
            <br>
            <br>
            <button>CONTACTOS Y SERVICIOS</button>
        </div>
        <br>
        <hr>
    </footer>
</body>-->