
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #591C21;
    font-family: 'Poppins';font-size: 15px;
    color: white;
}

.footer-section {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.boton {
    background-color: #F2F2F2; /* Fondo blanco */
    color: #54071a; /* Letras color #54071a */
    border: 2px solid #54071a; /* Borde del mismo color que el texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que el padding y border funcionen correctamente */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
    font-weight: 700;
}

.boton:hover {
    background-color: #54071a; /* Fondo al pasar el mouse */
    color: #F2F2F2; /* Letras al pasar el mouse */
}