<footer>
    <div class="footer-section">
        <h4>Escuela Experimental PRoA La Falda</h4>
        <p>Progreso 399, La Falda</p>
        <p>Córdoba, Argentina</p>
        <br>
        <hr>
        <br>
        <br>
        <a href="https://www.facebook.com/proalafalda?mibextid=ZbWKwL">
            <img src="img/facebook.png" alt="logo facebook" height="40" width="40">
        </a>

        <a href="https://www.instagram.com/proa_lafalda?igsh=MXFieHdkZm9rNzBsbQ==">
            <img src="img/ig logo.png" alt="logo instagram" height="40" width="40">
        </a>

    </div>

    <div class="footer-section">
        <br>
        <p>✆ +54 9 3548 58-2040</p>
        <p>✉ PRoALaFalda gmail.com</p>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <h6>Creado por 5to año PRoA La Falda-©2024</h6>
    </div>
    
    <div class="footer-section">
        <br>
        <br>
        <a href="https://proalafalda.blogspot.com/">
        <button class="boton">CONTACTOS Y SERVICIOS</button>
        </a>
        <br>
        <br>
        <br>
        <hr>
        <img src="img/logo proa.png" alt="logo proa" height="70" width="70">
        <p>Programa Avanzado de Educación <br> Secundaria en TIC</p>
    </div>
</footer>
