footer {

    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    background-color: #591C21;
    color: white;
}

.footer-section {
    flex: 1;
    text-align: center;
    padding: 10px;
}
